<%- include("../partials/header") %>
<div class="ui middle aligned center aligned padded grid login-grid">
    <div class="column login-form">
        <div class="ui segment">
            <form class="ui form" action="/login" method="POST">
                <h1 class="ui teal header">Login</h1>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui teal button">Login</button>
            </form>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>