<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Scottish Campsite finding website.">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous" async defer></script>
    <script src="/semantic/semantic.min.js" async defer></script>
    <title>Camp Scotland</title>
</head>

<body>
    <%- include("navbar") %>
    <div class="ui" id="content">
        <% if (error && error.length > 0) { %>
        <div class="ui container message-container">
            <div class="ui error message">
                <div class="header">
                    <%= error %>
                </div>
            </div>
        </div>
        <% } %>
        <% if (success && success.length > 0) { %>
        <div class="ui container">
            <div class="ui success message">
                <div class="header">
                    <%= success %>
                </div>
            </div>
        </div>
        <% } %>