<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Scottish Campsite finding website.">
    <link rel="stylesheet" href="/public/semantic/components/icon.css">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/library/jquery-3.5.1.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/javascript/sidebar.js"></script>
    <script>
        $(document).ready(
            function () {
                $('.sidebar').sidebar('attach events', '#toc-item');
            }
        );
    </script>
    <title>Camp Scotland</title>
</head>

<body class="pushable">
    <%- include("sidebar") %>
    <% if (error && error.length > 0) { %>
    <div class="ui container message-container">
        <div class="ui error message">
            <div class="header">
                <%= error %>
            </div>
        </div>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="ui container message-container">
        <div class="ui success message">
            <div class="header">
                <%= success %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="pusher">
        <%- include("navbar") %>
        <div class="ui" id="content">