<div class="ui fixed inverted pointing menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/assets/logo.png" style="margin-right: 1.5em;">
            Camp Scotland
        </a>
        <a href="/campsites" class="item">Campsites</a>
        <div class="right menu">
            <div class="item">
                <a href="" class="ui inverted button">Log In</a>
            </div>
            <div class="item">
                <a href="" class="ui inverted button">Sign Up</a>
            </div>
            <div class="item">
                <a href="" class="ui inverted button">Logout</a>
            </div>
        </div>
    </div>
</div>