<div class="ui segment">
    <div class="ui secondary pointing menu">
        <a href="/" class="active item">Camp Scotland</a>
        <div class="right item">
            <a href="" class="ui button">Login</a>
            <a href="" class="ui button">Sign Up</a>
            <a href="" class="ui button">Logout</a>
        </div>
    </div>
</div>