<div class="ui fixed inverted pointing menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" id="logo" src="/assets/logo.png" alt="Camp Scotland Logo">
            Camp Scotland
        </a>
        <a href="/campsites" class="item">Campsites</a>
        <div class="right menu">
            <% if (!currentUser) { %>
            <div class="item">
                <a href="/login" class="ui inverted button">Log In</a>
            </div>
            <div class="item">
                <a href="/register" class="ui inverted button">Sign Up</a>
            </div>
            <% } else { %>
            <div class="item">
                <a href="/logout" class="ui inverted button">Logout</a>
            </div>
            <% } %>
        </div>
    </div>
</div>