<div class="ui right vertical inverted menu sidebar">
    <a href="/" class="header item">
        <img class="logo" id="logo" src="https://i.imgur.com/I5A8RR8.png" alt="Camp Scotland Logo">
        <span>Camp Scotland</span>
    </a>
    <% if (!currentUser) { %>
        <div class="item">
            <a href="/login" class="ui inverted button">Log In</a>
        </div>
        <div class="item">
            <a href="/register" class="ui inverted button">Sign Up</a>
        </div>
        <% } else { %>
        <div class="item">
            <a href="/logout" class="ui inverted button">Logout</a>
        </div>
    <% } %>
    <a href="/campsites" class="item">Campsites</a>
</div>