<div class="ui right vertical inverted menu sidebar">
    <div class="header item"> 
        <img class="logo" id="logo" src="https://i.imgur.com/I5A8RR8.png" alt="Camp Scotland Logo">
        <span class="header">Camp Scotland</span>
    </div>
    <% if (!currentUser) { %>
    <a href="/campsites" class="item">
        <strong>All Campsites</strong>
    </a>
    <a href="/login" class="item">
        <strong>Log In</strong>
    </a>
    <a href="/register" class="item">
        <strong>Sign Up</strong>
    </a>
    <% } else { %>
    <a href="" class="item" style="text-transform: uppercase;">
        <strong>
            <%- currentUser.username %>
        </strong>
    </a>
    <a href="/campsites" class="item">All Campsites</a>
    <a href="/logout" class="item">Logout</a>
    <% } %>
</div>