<%- include("partials/header") %>

<div class="ui inverted vertical masthead center aligned segment" style="min-height: 700px; padding: 1em 0em;">
    <%- include("partials/navbar") %>
    <div class="ui text container">
        <h1 class="ui inverted header" style="margin-top: 3em; font-size: 4em;">Camp Scotland</h1>
        <h2 style="font-size: 1.7em;">Explore Scotland's Great Outdoors.</h2>
        <a href="/campsites" class="ui huge primary button">View Campsites</a>
    </div>
</div>

<%- include("partials/footer") %>