<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Camp Scotland</title>
</head>

<body>
    <div class="ui vertical centered aligned" id="landing-header">
        <div class="ui text center aligned container">
            <h1 class="ui inverted header">Welcome to Camp Scotland</h1>
            <a href="/campsites" class="ui huge teal button">View Campsites</a>
        </div>
    </div>
    <ul class="imagereel">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>

</html>