<%- include("partials/header") %>

<div class="ui inverted vertical masthead center aligned segment">
    <%- include("partials/navbar") %>
    <div class="ui text container">
        <h1 class="ui inverted header">Camp Scotland</h1>
        <h2>Explore Scotland's Great Outdoors.</h2>
        <a href="/campsites" class="ui huge primary button">View Campsites</a>
    </div>
</div>

<%- include("partials/footer") %>