<%- include("partials/header") %>

<div class="ui vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui header">Camp Scotland</h1>
        <h2>Explore the great outdoors.</h2>
        <a href="/campsites">
            <div class="ui huge primary button">
                All Campsites
            </div>
        </a>
    </div>
</div>

<%- include("partials/footer") %>