<%- include("../partials/header") %>
<div class="ui middle aligned center aligned padded grid input-grid">
    <div class="column input-form">
        <div class="ui segment">
            <h1 class="ui teal header">Create a new Campsite</h1>
            <form class="ui form" action="/campsites" method="POST">
                <div class="field">
                    <label for="name">Campsite Name</label>
                    <div class="ui left icon input">
                        <i class="font icon"></i>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                    <label for="image">Campsite Image</label>
                    <div class="ui left icon input">
                        <i class="image icon"></i>
                        <input type="text" name="image" placeholder="Image URL">
                    </div>
                </div>
                <div class="field">
                    <label for="description">Campsite Description</label>
                    <div class="ui left icon input">
                        <i class="quote left icon"></i>
                        <input type="text" name="description" placeholder="Description">
                    </div>
                </div>
                <div>
                    <input class="ui teal button" type="submit">
                </div>
            </form>
        </div>
        <a href="/campsites">Go Back</a>
    </div>
</div>
<%- include("../partials/footer") %>