/* TODO - Revise all CSS rules, remove non-mandatory rules. */
.pusher {
  background-color: #DADADA !important;
  /* TODO - adjustment for eye strain */
}

/* Map */
#map-container {
    width: 260px;
    height: 310px;
}
#map {
    height: 100%;
}

.pusher{
  height: 100%;
  position: relative;
  z-index: 0;
}
/* Adjust main content container for Navbar + sidebar and allow it to scroll */
#content {
  position: fixed;
  top: 52.63px;
  bottom: 0px;
  left: auto;
  width: 100%;
  overflow-y: scroll;
}

#logo {
  margin-right: 1.5em;
}

/* Error Message */
.message-container {
  position: fixed;
  top: -50px;
  left: 20.6%;
  z-index: 3;
}
.message {
  position: relative;
  top: 8.5vh;
  left: auto;
  margin-top: 2em !important;
}

/* Login & Register Forms */
.input-form {
  max-width: 450px;
}
.input-grid {
  height: 90%;
}

/* Card Container */
#content>.ui.cards.container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* force image size for Campsite cards */
.ui.cards>.card>.image{
  width: 290px;
  height: 250px;
  background-size: cover;
}