/* TODO - Revise all CSS rules, remove non-mandatory rules. */
body {
  background-color: #DADADA;
  /* TODO - adjustment for eye strain */
}

/* Map */
#map-container {
    width: 260px;
    height: 310px;
}
#map {
    height: 100%;
}

/* Navbar */
.ui#content{
  height: 100%;
  padding-top: 52.63px;
}

#logo {
  margin-right: 1.5em;
}

/* Error Message */
.message {
  margin-top: 2em !important;
}

/* Login & Register Forms */
.login-form {
  max-width: 450px;
}
.login-grid {
  height: 90%;
}

.masthead {
  min-height: 500px;
  padding: 1em 0em;
}

.ui.text.container > h1 {
  margin-top: 3em;
  font-size: 4em;
}

.ui.text.container > h2 {
  font-size: 1.6em;
}

.ui.text.container > .ui.header {
  margin-top: 1.5em;
  font-size: 3em;
}

.ui.fluid.image {
  margin-bottom: 1em;
}

.ui.card > .image {
  height: 175px;
}