/* TODO - Revise all CSS rules, remove non-mandatory rules. */
body {
  background-color: #DADADA;
  /* TODO - adjustment for eye strain */
}

/* Map */
#map-container {
    width: 260px;
    height: 310px;
}
#map {
    height: 100%;
}

#content + .pusher{
  height: 100%;
  position: relative;
  z-index: 0;
}
#content {
  margin-top: 52.63px;
}

#logo {
  margin-right: 1.5em;
}

/* Error Message */
.message-container {
  position: fixed;
  top: -50px;
  left: 20%;
  z-index: 3;
}
.message {
  position: relative;
  top: 100px;
  left: auto;
  margin-top: 2em !important;
}

/* Login & Register Forms */
.input-form {
  max-width: 450px;
}
.input-grid {
  height: 90%;
}